<section class="m-5">
  <h1 class="m-5">Centro de Mensajes</h1>
  <form action="/mensajes" method="post">
    <div class="mb-3">
      <label for="Email" class="form-label">Email</label>
      <input type="email" class="form-control" id="Email" name="email" />
    </div>

    <div class="mb-3">
      <label for="mensaje" class="form-label">Mensaje</label>
      <input type="text" class="form-control" id="mensaje" name="mensaje" />
    </div>

    <button id="submit" type="submit" class="btn btn-primary">Enviar!</button>
  </form>
</section>
<script src="../main.js"></script>